<!DOCTYPE html>
<html>
	<head>
	  	<title>Latinoware <%= Time.now.year %></title>
	  	<meta name="viewport" content="width=device-width, initial-scale=1" />
	  	<%= stylesheet_link_tag "application", :media => "all" %>
	  	<%= javascript_include_tag "application" %>
	  	<%= csrf_meta_tags %>
	</head>
	<body>
		<section data-role="page">
			<header data-role="header" data-position="fixed">
				<%= yield :back %>
				<h4><%= title %></h4>
				<%= yield :new %>
			</header>
			<div data-role="content">
				<%= yield %>
			</div>
			<footer data-role="footer" data-position="fixed">
				<h4>Latinoware <%= Time.now.year %></h4>
			</footer>
		</section>
	</body>
</html>